body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    overflow-y: auto;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
    margin-top: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: black;
    font-size: 24px;
}

h2 {
    font-size: 18px;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea, button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 5px;
}

button {
    background-color: rgb(3, 180, 3);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(3, 180, 3);
}

ul {
    list-style: none;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    background: white;
}

li {
    background: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

li button {
    margin-top: 5px;
    background-color: red;
    color: white;
}

li button:hover {
    background-color: red;
}